.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 34px 36px 36px 36px;
  border: 1px;
  box-sizing: border-box;
  border-color: #000;
  border-radius: 10px;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
}

.modal__close-button {
  background-color: transparent;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  border: none;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 2;
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__input {
  border: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 358px;
  max-height: 27px;
  color: #000;
  padding-bottom: 12px;
}

.modal__button {
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  width: 100%;
  max-width: 358px;
  height: 50px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
}

.modal__button:hover {
  cursor: pointer;
}

.modal__image-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.preview_image-modal {
  max-width: 75vw;
  max-height: 75vh;
  z-index: 1;
}

.modal__picture-caption {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #ffff;
  margin: 0;
  position: absolute;
  padding-top: 10px;
  z-index: 3;
}

.modal__button_disabled {
  opacity: 20%;
}

.modal__label {
  position: relative;
  height: 17px;
  display: block;
  margin-bottom: 20px;
}

.modal__error {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px;
  color: #ff0000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.modal__error_visible {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px 25px 22px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    right: 2px;
    top: -39px;
  }

  .modal__heading {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__button {
    margin-top: 15px;
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
